body {
  background-image: none;
  background-color: #bdc3c7;
  color: #f5f5f5;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; }
  body.theme-1 {
    background-color: #1abc9c; }
  body.theme-2 {
    background-color: #2ecc71; }
  body.theme-3 {
    background-color: #3498db; }
  body.theme-4 {
    background-color: #9b59b6; }
  body.theme-5 {
    background-color: #34495e; }
  body.theme-6 {
    background-color: #16a085; }
  body.theme-7 {
    background-color: #27ae60; }
  body.theme-8 {
    background-color: #2980b9; }
  body.theme-9 {
    background-color: #8e44ad; }
  body.theme-10 {
    background-color: #354b60; }
  body.theme-11 {
    background-color: #f1c40f; }
  body.theme-12 {
    background-color: #e67e22; }
  body.theme-13 {
    background-color: #e74c3c; }
  body.theme-14 {
    background-color: #ecf0f1; }
  body.theme-15 {
    background-color: #95a5a6; }
  body.theme-16 {
    background-color: #f39c12; }
  body.theme-17 {
    background-color: #d35400; }
  body.theme-18 {
    background-color: #c0392b; }
  body.theme-19 {
    background-color: #bdc3c7; }
  body.theme-20 {
    background-color: #7f8c8d; }

.login-container {
  display: none;
  min-width: inherit; }
  .login-container .login-form {
    width: 70%;
    margin: 100px auto 0 auto; }

.main-button {
  width: 100%;
  background-color: #ffdd00;
  background-image: none;
  border-radius: 5px/5px;
  -webkit-border-radius: 5px/5px;
  -moz-border-radius: 5px/5px;
  color: #333;
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  border: none;
  outline: 0 !important;
  cursor: pointer;
  text-shadow: none; }
  .main-button:active {
    position: relative;
    top: 1px; }
  .main-button:hover, .main-button:active, .main-button:focus {
    background-color: #e5bf05;
    outline: 0 !important; }
  .main-button.retrieveButton {
    width: 100%;
    margin-top: 15px; }
  .main-button.signin-btn {
    margin-top: 15px; }

.btn-forgot {
  margin-top: 15px; }

.back-button {
  background-color: #ffffff;
  background-image: none;
  border-radius: 5px/5px;
  -webkit-border-radius: 5px/5px;
  -moz-border-radius: 5px/5px;
  color: #333;
  display: inline-block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  margin-top: 15px;
  border: none;
  outline: 0;
  width: 100%;
  cursor: pointer;
  text-shadow: none;
  float: left;
  margin-left: 3%; }

.btn-forgot {
  color: white; }
  .btn-forgot:hover {
    text-decoration: underline;
    color: white; }

.tracking-image {
  display: none; }

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 15px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  background: #f5f5f5;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  margin-top: 15px;
  line-height: 20px;
  height: 50px; }

.login-subscript {
  margin-top: 20px; }

/*# sourceMappingURL=override.css.map */
